.summary::-webkit-details-marker {
  display: none;
}

.details {
  width: 100%;
  padding: 0.3rem 0 0.3rem 0;
  border-top: 1px solid white;
  position: relative;
  cursor: pointer;
  font-weight: 300;
}

.li {
  margin: 0 0 0 1em;
  list-style-type: none;
}

.liNew {
  margin: 0 0 0 1em;
  list-style-type: '->';
}
